<div class="col-sm-10 col-sm-offset-1">
	<br><br><br><br>
	<p class="greenLine"></p>
	<h2 class="text-center">Ou Food</h2>
	<p>&nbsp;</p><p>&nbsp;</p>
</div>

<div class="" id="foodDetails">
	<div class="">
		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<a name="Fried Rice"></a>
				<img src="images/baseFood/a.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried </h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<a name="Fried Egg"></a>
				<img src="images/baseFood/c.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried Egg</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<a name="Fried Fish"></a>
				<img src="images/baseFood/d.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried Fish</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<a name="Fried Chicken"></a>
				<img src="images/baseFood/d.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried Chicken</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="">
		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<a name="Fried Egg With Salad"></a>
				<img src="images/baseFood/a.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried Egg With Salad</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<a name="Fried Rice with Egg"></a>
			<div class="thumbnail">
				<img src="images/baseFood/c.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried Rice with Egg</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<a name="Fried Rice with Sea Food"></a>
			<div class="thumbnail">
				<img src="images/baseFood/d.jpg" alt="baseFood">
				<div class="caption">
					<h3>Rice with Sea Food</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<img src="images/baseFood/d.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fried Rice & Bef</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="">
		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<img src="images/baseFood/a.jpg" alt="baseFood">
				<div class="caption">
					<h3>Fish Fried</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<img src="images/baseFood/c.jpg" alt="baseFood">
				<div class="caption">
					<h3>Ham Fried</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>

				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<img src="images/baseFood/d.jpg" alt="baseFood">
				<div class="caption">
					<h3>Pig Fried</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-3">
			<div class="thumbnail">
				<img src="images/baseFood/d.jpg" alt="baseFood">
				<div class="caption">
					<h3>Soup Fish</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
						consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
						quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
					</p>
				</div>
			</div>
		</div>
	</div>

</div>
