<div class="" style="background: green;">&nbsp;</div>
<nav class="navbar navbar-default menu">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">
				<img src="images/logo.png" alt="logo" class="logo">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<div class="row"></div>
			<ul class="nav navbar-nav navbar-right social-icons marginTop">
				<li class="facebook"><a href="www.facebook.com">facebook</a></li>
				<li class="twitter"><a href="www.twitter.com">twitter</a></li>
				<li class="linkedin"><a href="www.linkein.com">linkedin</a></li>
			</ul>

			<ul class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="FoodMenu.html" name="menuListPage" onclick="loadPage(this.name)">Menu list</a></li>
						<li><a href="FoodDetail.html" name="menuDetailPage" onclick="loadPage(this.name)">Detail</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="Room.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Room <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="RoomMain.html" name="mainRoomPage" onclick="loadPage(this.name)">Main Room</a></li>
						<li><a href="RoomVip.html" name="vipRoomPage" onclick="loadPage(this.name)">VIP Room</a></li>
					</ul>
				</li>
				<li><a href="Order.html" name="orderPage" onclick="loadPage(this.name)">Order</a></li>
				<li><a href="Contact.html">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
