<div class="">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
		<div class="col-sm-8 col-sm-offset-2">
			<p class="greenLine"></p>
			<h2 class="text-center">Our Chef</h2>
			<p>&nbsp;</p>
		</div>
		<!-- Indicators -->
		<ol class="carousel-indicators positionBottom">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-sm-4 photoChef"></div>
					<div class="col-sm-8">
						<h3>Kakada</h3>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
						</p>
						<h3>welcome</h3>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
						</p>
					</div>
				</div>
			</div>

			<div class="item row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-sm-4 photoChefOne"></div>
					<div class="col-sm-8">
						<h3>Neang</h3>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
						</p>
						<h3>welcome</h3>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
						</p>
					</div>
				</div>
			</div>

			<div class="item row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-sm-4 photoChefTwo"></div>
					<div class="col-sm-8">
						<h3>Neang</h3>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat illo incidunt iste molestiae provident, ut veniam. Delectus dicta excepturi, ipsum libero quae sed tenetur! Facilis sequi similique ullam voluptatibus.
						</p>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem blanditiis commodi culpa dolorem enim error esse excepturi minus, natus necessitatibus nostrum possimus provident sed sunt totam veritatis.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
