<div class="col-sm-10 col-sm-offset-1">
	<br>
	<br>
	<br>
	<br>
	<p class="greenLine"></p>
	<h2 class="text-center">Our VIP Room</h2>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
<div class="row">
	<div class="col-sm-6">
		<br>
		<img class="img-responsive" src="images/vipRoom/vip2.jpg">
	</div>
	<div class="col-sm-6">
		<h3>Couple VIP Rooms</h3>
		<p class="text-justify">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
		</p>
		<h3>Free for Couple</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa odio quam quidem quis, recusandae voluptas? Blanditiis, consequatur corporis in labore molestias perferendis quisquam similique tenetur. Illum ipsum iure sint!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa odio quam quidem quis, recusandae voluptas? Blanditiis, consequatur corporis in labore molestias perferendis quisquam similique tenetur. Illum ipsum iure sint!
		</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<br>
		<img class="img-responsive" src="images/vipRoom/vip3.jpg">
	</div>
	<div class="col-sm-6">
		<h3>Family Room</h3>
		<p class="text-justify">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
		</p>
		<h3>Free for Sweet Family</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa odio quam quidem quis, recusandae voluptas? Blanditiis, consequatur corporis in labore molestias perferendis quisquam similique tenetur. Illum ipsum iure sint!
		</p>
	</div>

</div>


<div class="row">
	<div class="col-sm-6">
		<br>
		<img class="img-responsive" src="images/vipRoom/VIP.jpg">
	</div>
	<div class="col-sm-6">
		<h3>VIP Room For Big party</h3>
		<p class="text-justify">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facere libero nam omnis quo soluta. Aut dicta dolorum eius id laboriosam officia porro provident quibusdam quidem, reiciendis repudiandae soluta ut!
		</p>
		<h3>Free for Special Party</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa odio quam quidem quis, recusandae voluptas? Blanditiis, consequatur corporis in labore molestias perferendis quisquam similique tenetur. Illum ipsum iure sint!
		</p>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
