<div class="row"><p>&nbsp;</p><p>&nbsp;</p></div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<p class="greenLine"></p>
		<h2 class="text-center">Base Food</h2>
		<p>&nbsp;</p>
	</div>
	<div class="col-xs-6 col-sm-4">
		<div class="thumbnail">
			<img src="images/baseFood/a.jpg" alt="baseFood">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
					consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
					quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
				</p>
				<p>
					<a href="#" class="btn btn-primary" role="button">Button</a>
					<a href="#" class="btn btn-default" role="button">Button</a>
				</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-4">
		<div class="thumbnail">
			<img src="images/baseFood/c.jpg" alt="baseFood">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
					consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
					quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
				</p>
				<p>
					<a href="#" class="btn btn-primary" role="button">Button</a>
					<a href="#" class="btn btn-default" role="button">Button</a>
				</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-4">
		<div class="thumbnail">
			<img src="images/baseFood/d.jpg" alt="baseFood">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae,
					consequatur corporis eveniet, harum ipsum libero natus perspiciatis qui
					quod quos similique sunt tempora ullam veritatis! Amet architecto consequatur laudantium?
				</p>
				<p>
					<a href="#" class="btn btn-primary" role="button">Button</a>
					<a href="#" class="btn btn-default" role="button">Button</a>
				</p>
			</div>
		</div>
	</div>
</div>
