<br>
<br>
<br>
<div class="col-sm-10 col-sm-offset-1">
	<p class="greenLine"></p>
	<h2 class="text-center">Welcome!</h2>
	<p>&nbsp;</p>
	<h4 style="margin-left: 20px;">Fried Group</h4>
	<div id="test"></div>
	<ol id="menuLists" class="bg-warning">
		<!--<li onclick="menulists();"><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
		<!--<li><a href="#friedRice"><span>Fried Rice</span>-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--...................................................................-->
			<!--<span class="pull-right">$12</span></a></li>-->
	</ol>
</div>
