<div name="popup" id="popup"  class="text-right">
	<!-- <p class='text-right'><span style="position:relative;right: -8px;top: 20px;z-index: 999;" class="badge" id="pre" onclick="popupImageOut(this)"> X </span></p> -->
	<div class="popupPhoto">
		<img  class="img-responsive" name="da" src="../../images/slideShow/a.jpg"/>
	</div>
	<div class="text-center">
		<span style="position:relative;bottom:45px;" class="badge" id="next" onclick="pre()"> |<< </span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="position:relative;bottom:45px;" class="badge" id="pre" onclick="next()"> >>| </span>

	</div>
</div>

