/*******Import partials stylesheet******/
@import "socail-icon.css";

/*header*/
img.logo {
	width: 120px;
}
.menu {
	border: 0px solid;
	margin-bottom: 2px;
	border-radius: 0px;
}

/*General style*/
body {
	background: pink;
}
.row {
	background: #f8f8f8;
}

img[name='da'] {
	border-bottom: 2px solid pink;
}

.greenLine{
	border:3px solid green;
	border-radius:3px;
	margin-bottom: -18px;
}

.lineMenu {
	border:1px dashed #dadada;
	margin-top: -7px;
}

.bg-list {
	background: #f8f8f8;
}

ol.menuList li {
	margin: 20px 0;
}

h2{
	background:#f8f8f8;
	width:200px;
	margin: 0 auto;
}


/*Our Chef*/
.photoChef{
	height : 400px;
	background-image: url("../images/chef/a.png");
}
.photoChefOne{
	height : 400px;
	background-image: url("../images/chef/b.png");
}
.photoChefTwo{
	height : 400px;
	background-image: url("../images/chef/c.png");
}
.positionBottom{
	bottom: -45px;
}
.carousel-indicators .active {
	background : green;
}
.carousel-indicators li {
	border-color : #dadada;
}


/*footer*/
.footer {
	background : darkgreen !important;
	color: white;
}


